<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>视图微服务feign</title>
</head>
<script src="/bootstrap/js/jquery/2.0.0/jquery.min.js"></script>
<link href="/bootstrap/css/bootstrap/3.3.6/bootstrap.css" rel="stylesheet"/>
<script src="/bootstrap/js/bootstrap/3.3.6/bootstrap.min.js"></script>
<body>
<div class="col-md-12">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>名称</th>
            <th>价格</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${ps}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>